[Desktop Entry]
Name=NoteNix Settings
Comment=Configure NoteNix capabilities and update channels
Exec=kanal
Icon=software-update-available-symbolic
Terminal=false
Type=Application
Categories=System;Settings;GNOME;
Keywords=update;channel;stable;unstable;nixos;kanal;
StartupNotify=true
